.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms var(--transform-type);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px 39px 40px 41px;
  width: 100vw;
  height: 100vh;
  max-width: 450px;
  min-height: 609px;
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: $descktop) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 25px;
  right: 8px;
  transition: color var(--transform-time) var(--transform-type);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: $mobile) {
  .modal__button {
    top: 8px;
    right: 8px;
  }
}

.modal-icon {
  fill: currentColor;
}

.modal__text {
  display: block;
  margin-bottom: 12px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.form-field__label {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-field__logo-container {
  position: relative;
  transition: color var(--transform-time) var(--transform-type);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.form-field__input {
  width: 100%;
  cursor: pointer;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transform-time) var(--transform-type);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: inherit;
  }
  &--textarea {
    height: 100px;
    margin-bottom: 20px;
    padding: 12px 16px;
  }
}

@media screen and (min-width: $mobile) {
  .form-field__input--textarea {
    height: 120px;
  }
}

.form-field__logo {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.form-field__input--textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: $descktop) {
  .checkbox-container {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-field {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-field__text {
  margin-right: 5px;
}

.checkbox__logo {
  margin-right: 9px;
  display: inline-block;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  fill: currentColor;
}

.checkbox:checked + .checkbox__logo {
  background-color: var(--accent-color);
  border: none;
  background-origin: border-box;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.submit-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
  cursor: pointer;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: background-color var(--transform-time) var(--transform-type),
    box-shadow var(--transform-time) var(--transform-type);
  &:focus,
  &:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
