.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: $tablet) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--primary-bg-color);
  z-index: 999;

  transform: translateX(300%);
  transition: transform var(--transform-time) var(--transform-type);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 0 10px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: #212121;
  color: var(--title-text-color);
  text-decoration: none;

  &--current {
    color: var(--accent-color);
  }

  &--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  &--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

.mobile-menu__item {
  &--margin {
    margin-top: 306px;
  }
  &--contact {
    margin-bottom: 64px;
  }
}

@media (max-width: $mobile) {
  .mobile-menu__item--margin {
    margin-top: 30px;
  }
}

.menu-social {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__link--social {
  display: flex;
  margin: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-social-item {
  position: relative;

  &:not(:last-child)::after {
    position: absolute;
    right: 0;
    top: 0;

    content: '';
    display: block;
    width: 2px;
    height: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}
