.social-list {
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 30px;
}
.social-list__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-bg-color);
  border-radius: 50%;
    &:not(:first-child) {
    margin-left: 10px;
  }
}

.social-list__link {
  transition: color var(--transform-time) var(--transform-type),
    background-color var(--transform-time) var(--transform-type),
    border var(--transform-time) var(--transform-type);

  display: flex;
  border: 1px solid var(--primary-bg-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
    &:focus,
    &:hover {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border: 1px solid transparent;
  }
}
