.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list__item {
  width: 450px;
  margin-bottom: 30px;
  transition: box-shadow var(--transform-time) var(--transform-type);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: $tablet) {
  .project-list__item {
    width: 354px;

    &:nth-child(2n) {
      margin-left: 30px;
    }
  }
}

@media screen and (min-width: $descktop) {
  .project-list__item {
    width: 370px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-left: 0px;
    }
    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.project-list__item:focus,
.project-list__item:hover .project-list__hover-text {
  transform: translateY(0);
  opacity: 1;
}

.project-list__item:focus,
.project-list__item:hover .thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.project-list__link {
  display: inline-block;
  text-decoration: none;
  color: var(--title-text-color);
}

.project-list__thumb {
  position: relative;
  overflow: hidden;

  &::before {
    display: inline-block;
    content: '';
    background-color: rgba(33, 150, 243, 0.9);
  }
}

.project-list__thumb::before,
.project-list__hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity var(--transform-time) var(--transform-type),
    transform var(--transform-time) var(--transform-type);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-list__hover-text {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.project-list__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-list__title {
  margin: 0 0 4px 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list__text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
