:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-col: #2f303a;
  --background-team: #f5f4fa;
  --primary-bg-color: #ffffff;
  --icon-color: #afb1b8;
  --transform-time: 250ms;
  --transform-type: cubic-bezier(0.4, 0, 0.2, 1);
  --border-color: #ececec;
  }
  
  body {
  font-family: 'Roboto', sans-serif;
  }